@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MagicMail</h1>
    <p>Your self-hosted email provider.</p>
    <a href="/Domains/Index" class="btn btn-primary btn-lg">Manage Domains</a>
</div>
